<h2>Your Collection</h2>
  <% if flash.has?(:message)%>
    <h3><%=flash[:message]%></h3>
  <%end%>


<form action = "/users/<%=@user.slug%>" method = "post">
  <label>Mode:
  <input type = "radio" name = "mode" value = "Records" <%if @mode == "Records"%>checked = "checked"<%end%> >Records</input>
  <input type = "radio" name = "mode" value = "Artists" <%if @mode == "Artists"%>checked = "checked"<%end%>>Artists</input>
  <input type = "radio" name = "mode" value = "Labels" <%if @mode == "Labels"%>checked = "checked"<%end%>>Labels</input>
  <input type = "submit" value = "Change Mode">
</form><br></br>
<form action = "/records/new">
  <input type = "submit" value = "Add New Record">
</form></br>


<%if @mode == "Records"%>
  <table>
  <%@user.records.order(name: :asc).uniq.each do |r|%>
    <tr>
      <td><a href = "/records/<%=r.slug%>"><%=r.name%></a></td>
      <td> <%=r.artist.name%><br></td>
    </tr>
  <%end%>
 </table>
<%end%>

<%if @mode == "Artists"%>
  <table>
    <%@user.artists.order(name: :asc).uniq.each do |a|%>
      <tr>
        <td><h3><%=a.name%></h3></td>
      </tr>
    <%@user.records.where("artist_id == #{a.id}").each do |r|%>
      <tr>
        <td><a href = "/records/<%=r.slug%>"><%=r.name%></a></td>
      </tr>
      <%end%>
  <%end%>
</table>
<%end%>

<%if @mode == "Labels"%>
  <table>
  <%@user.labels.order(name: :asc).uniq.each do |l|%>
    <tr>
      <td><h3><%=l.name%></h3></td>
      <td></td>
    </tr>
    <%@user.records.where("label_id == #{l.id}").each do |r|%>
      <tr>
        <td><a href = "/records/<%=r.slug%>"><%=r.name%>  </a></td>
        <td><%=r.artist.name%></br></td>
      </tr>
      <%end%>
  <%end%>
</table>

  <%end%>
