<div class="page-header message">

  <h1>Edit Record</h1>
    <% if flash.has?(:message)%>
  <h3><%=flash[:message]%></h3></br>

  <%end%>
  
  <div class="record-cover-large">
    <img src="/images/english_tapas.jpg">
  </div>

</div> <!-- page header -->

<div class="page-content">

  <form action="/records/<%=@record.slug%>/edit" method="post" class="form">
    <div>
      <label>Title: </label>
      <input type="text" name="record[name]" value="<%=@record.name%>" placeholder="title">
    </div>
    <div>
      <label>Artist: </label>
      <select name="record[artist_id]">
        <%@artists.all.order(name: :asc).each do |a|%>
          <%if a.id == @record.artist_id%>
          <option value="<%=a.id%>" selected><%=a.name%></option>
          <%else%>
          <option value="<%=a.id%>"><%=a.name%></option>
          <%end%>
        <%end%>
      </select>
    </div>
    <div>
      <label>Add New Artist: </label>
      <input type="text" name="artist[name]" placeholder="artist name">
    </div>
    <div>
      <label>Label: </label>
      <select name="record[label_id]">
        <%@labels.all.order(name: :asc).each do |l|%>
          <%if l.id == @record.label_id%>
          <option value="<%=l.id%>" selected><%=l.name%></option>
          <%else%>
          <option value="<%=l.id%>"><%=l.name%></option>
          <%end%>
        <%end%>
      </select>
    </div>
    <div>
      <label>Add New Label: </label>
      <input type="text" name="label[name]" placeholder="label name">
    </div>
    <div>
      <label>Release Year: </label>
      <input type="text" name="record[release_year]" value="<%=@record.release_year%>" placeholder="release year">
    </div>
    <div>
      <label>Format: </label>
      <select name="record[format]">
        <option value="<%=@record.format%>" selected><%=@record.format%></option>
        <option value='7"'>7"</option>
        <option value='10"'>10"</option>
        <option value='12"'>12"</option>
      </select>
    </div>
    <div>
      <label>Type: </label>
      <select name="record[record_type]">
        <option value="<%=@record.record_type%>" selected><%=@record.record_type%></option>
        <option value="Single">Single</option>
        <option value="EP">EP</option>
        <option value="LP">LP</option>
        <option value="Double LP">Double LP</option>
        <option value="Triple LP">Triple LP</option>
        <option value="Box Set">Box Set</option>
      </select>
    </div>
    <div>
      <label>RMP: </label>
      <select name="record[rpm]">
        <option value="<%=@record.rpm%>" selected><%=@record.rpm%></option>
        <option value="33rpm">33rpm</option>
        <option value="45rpm">45rpm</option>
        <option value="78rpm">78rpm</option>
      </select>
    </div>
    <div>
      <label>Cover Image: </label>
      <label for="file-upload">click to select file</label>
      <input type="file" id="file-upload" name="pic" accept="image/*" class="submit">
    </div>
    <div>
      <label></label>
      <input type="submit" value="Save" id="submit">
    </div>
  </form>

</div><!--form-->
