<div class="page-header index-container">

  <h1>Record Database</h1>
    <!-- <% if flash.has?(:message)%>
      <h3><%=flash[:message]%></h3>
    <%end%> -->


    <div id="display-options">
      <span class="display-mode">Order By:</span><br class="desktop-break">
      <input type="radio" name="mode" value="Records" id="title-button" class="mode-selector" checked="checked"></input>
      <label for="title-button" class="display-mode-label">Title</label>
      <input type="radio" name="mode" value="Artists" id="artist-button" class="mode-selector"</input>
      <label for="artist-button" class="display-mode-label">Artist</label>
      <input type="radio" name="mode" value="Labels" id="label-button" class="mode-selector"</input>
      <label for="label-button" class="display-mode-label">Label</label>
    </div>

  <form action="/records/new" class="add-record-form">
    <input type="submit" value="Add New Record" class="button">
  </form></br>

</div><!--page header-->



<div class="page-content index-container" >

   <table id="title-table">
    <tr>
      <td><h3>Title</h3></td>
      <td><h3>Artist</h3></td>
    </tr>
    <%@records.all.order(name: :asc).each do |r|%>
      <tr>
        <td><a href="/records/<%=r.slug%>"><%=r.name%></a></td>
        <td> <%=r.artist.name%><br></td>
      </tr>
    <%end%>
   </table>


    <table class="disabled" id="artist-table">
      <%@artists.all.order(name: :asc).uniq.each do |a|%>
        <tr> <td></td> </tr>
        <tr>
          <td><h3><%=a.name%></h3></td>
        </tr>
      <%@records.all.where("artist_id == #{a.id}").order(name: :asc).each do |r|%>
        <tr>
          <td><a href="/records/<%=r.slug%>"><%=r.name%></a></td>
        </tr>
        <%end%>
      <%end%>
    </table>

    <table class="disabled" id="label-table">
    <%@labels.all.order(name: :asc).uniq.each do |l|%>
      <tr> <td></td> </tr>
      <tr>
        <td colspan="2" class="label-header"><h3><%=l.name%></h3></td>
        <!-- <td></td> -->
      </tr>
      <%@records.all.where("label_id == #{l.id}").order(name: :asc).each do |r|%>
        <tr>
          <td><a href="/records/<%=r.slug%>"><%=r.name%> </a></td>
          <td><%=r.artist.name%></td>
        </tr>
        <tr> <td></td> </tr>
        <%end%>
      <%end%>
    </table>

</div> <!-- table -->
<!--</div> <column -->
<!-- <div class = "col-1-5"></div> -->
