<div class="page-header">

  <h1>Record Database</h1>
    <% if flash.has?(:message)%>
      <h3><%=flash[:message]%></h3>
    <%end%>


  <form action="/records" method="post">
    <label class="display-mode-label">Order By:</label><br>
    <input type="radio" name="mode" value="Records" <%if @mode == "Records"%>checked="checked"<%end%> >Title</input>
    <input type="radio" name="mode" value="Artists" <%if @mode == "Artists"%>checked="checked"<%end%>>Artist</input>
    <input type="radio" name="mode" value="Labels" <%if @mode == "Labels"%>checked="checked"<%end%>>Label</input>
    <input type="submit" value="Change Mode" class="button">
  </form><br></br>
  <form action = "/records/new">
    <input type="submit" value="Add New Record" class="button">
  </form></br>
</div><!--page header-->



<div class="page-content" >

  <%if @mode == "Records"%>
   <table>
    <tr>
      <td><h3>Title</h3></td>
      <td><h3>Artist</h3></td>
    </tr>
    <%@records.all.order(name: :asc).each do |r|%>
      <tr>
        <td><a href="/records/<%=r.slug%>"><%=r.name%></a></td>
        <td> <%=r.artist.name%><br></td>
      </tr>
    <%end%>
   </table>
  <%end%>

  <%if @mode == "Artists"%>
    <table>
      <%@artists.all.order(name: :asc).uniq.each do |a|%>
        <tr> <td></td> </tr>
        <tr>
          <td><h3><%=a.name%></h3></td>
        </tr>
      <%@records.all.where("artist_id == #{a.id}").order(name: :asc).each do |r|%>
        <tr>
          <td><a href="/records/<%=r.slug%>"><%=r.name%></a></td>
        </tr>
        <%end%>
      <%end%>
    </table>
  <%end%>

  <%if @mode == "Labels"%>
    <table>
    <%@labels.all.order(name: :asc).uniq.each do |l|%>
      <tr> <td></td> </tr>
      <tr>
        <td colspan="2" class="label-header"><h3><%=l.name%></h3></td>
        <!-- <td></td> -->
      </tr>
      <%@records.all.where("label_id == #{l.id}").order(name: :asc).each do |r|%>
        <tr>
          <td><a href="/records/<%=r.slug%>"><%=r.name%> </a></td>
          <td><%=r.artist.name%></td>
        </tr>
        <tr> <td></td> </tr>
        <%end%>
      <%end%>
    </table>
  <%end%>

</div> <!-- table -->
<!--</div> <column -->
<!-- <div class = "col-1-5"></div> -->
