<div class="page-header show-container" >

    <h1><%=@record.name%></h1>

     <div class="record-cover-large">
       <img src="<%=@record.cover%>">
     </div>
  </div>
</div> <!-- page header -->

<div class="page-content show-container">
  <table class="record-table">
    <tr>
      <td><strong>Artist: </strong></td>
      <td><%= @record.artist.name %></td>
    </tr>
    <tr>
      <td><strong>Released: </strong></td>
      <td><%= @record.release_year %></td>
    </tr>
    <tr>
      <td><strong>Label: </strong></td>
      <td><%= @record.label.name %></td>
    </tr>
    <tr>
      <td><strong>Type: </strong></td>
      <td><%= @record.record_type %></td>
    </tr>
    <tr>
      <td><strong>Format: </strong></td>
      <td><%= @record.format %></td>
    </tr>
    <tr>
      <td><strong>RPM: </strong></td>
      <td><%= @record.rpm %></td>
    </tr>
    <% if current_user.record_ids.include?(@record.id)%>
    <tr>
      <td><button class="button" id="edit-record-button"><a href="/records/<%=@record.slug%>/edit">
        Edit Record</a></button></td>
      <td> <button class="button" id="add-or-remove-button" data-resource="delete" data-user="<%=current_user.slug%>" data-record-id="<%=@record.id%>">Remove</button></td>
    </tr>
    <%else%>
    <tr >
      <td></td>
      <td>
        <input type="submit" value="Add" class="button" id="add-or-remove-button" data-resource="new" data-user="<%=current_user.slug%>" data-record-id="<%=@record.id%>">
      </td>
    </tr>
    <% end %>
  </table>

  </div><!--page bottom-->
</div><!--page-content-->

<script>

  var addOrRemoveButton = document.getElementById('add-or-remove-button');
  var userSlug = addOrRemoveButton.getAttribute('data-user');
  var recordId = addOrRemoveButton.getAttribute('data-record-id');
  var resource = addOrRemoveButton.getAttribute('data-resource');

  addOrRemoveButton.addEventListener("click", function() {
    addOrRemoveRecord()
  });

  function addOrRemoveRecord() {
    var url = `/records/${userSlug}/${resource}`;
    var request = new XMLHttpRequest();
    var postData = `record_id=${recordId}`;
    request.open('POST', url, true)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.send(postData);
    window.location = `/users/${userSlug}`;
  }
</script>
