

<h2><%=@record.name%></h2>

<table>

  <tr>
    <td>Artist: </td>
    <td><%= @record.artist.name %></td>
  </tr>
  <tr>
    <td>Release Year: </td>
    <td><%= @record.release_year %></td>
  </tr>
  <tr>
    <td>Label: </td>
    <td><%= @record.label %></td>
  </tr>
  <tr>
    <td>Type: </td>
    <td><%= @record.record_type %></td>
  </tr>
  <tr>
    <td>Format: </td>
    <td><%= @record.format %></td>
  </tr>
<table>
